<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CathedraUniversity.Properties.Settings.DatabaseConnectionString"
            connectionString="Data Source=S-ANIKEEV;Initial Catalog=iCathedraUniversity;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="CathedraUniversity.Properties.Settings.servicedatConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\servicedat.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
